[submodule "raven-fhir-server"]
	path = raven-fhir-server
	url = https://github.com/MortalityReporting/raven-fhir-server.git
	branch = master
[submodule "raven-mapper-api"]
	path = raven-mapper-api
	url = https://github.com/MortalityReporting/raven-mapper-api.git
[submodule "raven-dashboard"]
	path = raven-dashboard
	url = https://github.com/MortalityReporting/raven-dashboard.git
	branch = main
